@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --white-color: #fff;
  --black-color: #222;
  --blue-color: #00a6ff;
  --navy-color: #00bbaa;
}

body {
  height: inherit;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
}

button,
.go-back-btn {
  font: inherit;
  color: var(--blue-color);
  padding: 5px 20px;
  border: 2px solid var(--blue-color);
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}

#root {
  height: inherit;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  flex: 1;
  display: flex;
}

.outlet {
  padding: 50px;
  flex: 1;
  position: relative;
  background: var(--black-color);
  color: var(--white-color);
  font-family: fantasy;
}

/* Gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 250px;
  grid-gap: 20px;
}

.gallery img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Articles */

.article+.article {
  margin-top: 20px;
}

.article-link {
  margin-bottom: 5px;
  color: var(--blue-color);
  font-size: 20px;
}

.article-text+button {
  margin-top: 20px;
}

/* FAQ */

.faq__item {
  border-bottom: 1px solid var(--blue-color);
  padding-bottom: 10px;
  cursor: pointer;
}

.faq__item+.faq__item {
  margin-top: 20px;
}

.faq__item-title {
  font-size: 20px;
  color: var(--navy-color);
  user-select: none;
}

.faq__item-text {
  color: var(--blue-color);
  height: 0;
  overflow: hidden;
  transition: all .5s;
}

/* Search field */

.search-input {
  font-family: monospace, sans-serif;
  width: 100%;
  padding: 7px 20px;
  border: 2px solid var(--blue-color);
  color: var(--white-color);
  background: transparent;
  border-radius: 5px;
  transition: all .3s;
  outline: none;
}

.search-input::placeholder {
  color: inherit;
  transition: all .3s;
}

.search-input:focus {
  box-shadow: 0 0 5px 0 var(--white-color);
}

.search-input:focus::placeholder {
  color: rgba(255, 255, 255, .3);
}

.search-input[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

/* Contacts */

.contacts address {
  display: flex;
  align-items: baseline;
}

.contacts address p {
  border: 1px solid var(--white-color);
  padding: 10px 30px 7px;
}

.contacts address p:first-of-type,
.contacts address p+p {
  border-left: none;
}

.contacts address p:last-of-type {
  border-right: none;
}

.contacts .social {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.contacts .social__item+.social__item {
  margin-top: 15px;
}

.contacts .social__item-link {
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 1px;
  color: var(--blue-color);
  position: relative;
  padding-bottom: 5px;
  transition: all .3s;
}

.contacts .social__item-link:hover {
  transform: translateX(10px);
}

.contacts .social__item-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: currentColor;
  transition: all .3s;
}

.contacts .social__item-link:hover::after {
  width: 100%;
}